<div class="container">
  <div class="row">
    <div  class="col-md-12 well">
      <h1 style="color: brown; text-align: center;">Hotel QuintaReal</h1>
      <br>
      <h2 style="text-align: center;">"Un lugar de descanso para tu aventura"</h2>
      <p>
        Quinta Real es un hotel de lujo que se caracteriza por su elegancia y sofisticación. Ubicado en un entorno
        tranquilo y apacible, es el lugar ideal para aquellos que buscan una experiencia de hospedaje única y memorable.
  
        El hotel cuenta con amplias habitaciones y suites, cada una decorada con un estilo clásico y elegante. Los
        espacios comunes del hotel están diseñados con un aire de refinamiento, con detalles en madera, mármol y cristal
        que dan lugar a una atmósfera exclusiva.
  
        Quinta Real ofrece una gran variedad de servicios de alta calidad para sus huéspedes, como piscina al aire libre,
        spa, gimnasio, restaurantes de alta gastronomía, bar, salones para eventos y un servicio de conserjería disponible
        las 24 horas.
  
        El hotel también cuenta con jardines cuidadosamente diseñados que ofrecen un ambiente de tranquilidad y armonía,
        perfectos para relajarse y disfrutar de la naturaleza.
  
        La ubicación de Quinta Real es excelente, ya que se encuentra cerca de importantes centros comerciales,
        restaurantes y lugares turísticos, por lo que los huéspedes pueden disfrutar de todo lo que la ciudad tiene para
        ofrecer con gran comodidad.
  
        En resumen, Quinta Real es un hotel de lujo que ofrece una experiencia única y exclusiva para aquellos que buscan
        una estadía inolvidable. Con su elegancia, servicios de alta calidad y ubicación privilegiada, es una excelente
        opción para aquellos que buscan lo mejor en hospedaje.
  
      </p>
  
      <br>
      <h2 style="text-align: center;">Algunos hoteles hermanos que puedes visitar</h2>
    </div>
  </div>
  
    <div class="gallery-container" class="row">
    
      <div class="col-md-6 well" class="imagene">
        <figure>
          <img src="../assets/img/hotel1.jpg" alt="blog post one" />
          <h2 style="text-align: center;">Four Seasons Hotel George V Paris</h2>
          <figcaption>
            Ubicado en el corazón de la ciudad de París, este lujoso hotel de cinco estrellas cuenta con un spa de clase
            mundial, restaurantes de alta cocina y una piscina cubierta.
          </figcaption>
        </figure>
      </div>
      <div class="col-md-6 well" class="imagene">
        <figure>
          <img src="../assets/img/hotel2.jpg" alt="blog post two" />
          <h2 style="text-align: center;">The Ritz-Carlton, New York Central Park
          </h2>
          <figcaption>
            Este elegante hotel está ubicado en el corazón de Manhattan, con vistas al famoso Central Park. Ofrece
            habitaciones decoradas con estilo, un restaurante de alta cocina y un spa de lujo.
          </figcaption>
        </figure>
      </div>

    <div class="gallery-container" class="row">
      <div class="col-md-6 well" class="imagene">
      <figure>
        <img src="../assets/img/hotel3.jpg" alt="blog post three" />
        <h2 style="text-align: center;">Mandarin Oriental Bangkok</h2>
        <p>
          Situado en la orilla del río Chao Phraya, este hotel de lujo ofrece impresionantes vistas panorámicas de la
          ciudad de Bangkok. El hotel cuenta con varias opciones gastronómicas, un spa de primera clase y un servicio
          excepcional.
        </p>
      </figure>
    </div>
    <div class="col-md-6 well" class="imagene">
      <figure>
        <img src="../assets/img/hotel4.jpg" alt="blog post three" />
        <h2 style="text-align: center;">Aman Tokyo</h2>
        <p>
          Ubicado en el centro de Tokio, este hotel es conocido por su diseño minimalista y elegante. Las habitaciones
          cuentan con vistas impresionantes de la ciudad, mientras que el hotel cuenta con un spa, varios restaurantes y
          una piscina en la azotea.
        </p>
      </figure>
    </div>
  </div>

  <div class="gallery-container" class="row">
    <div class="col-md-6 well" class="imagene">
      <figure>
        <img src="../assets/img/hotel5.jpg" alt="blog post three" />
        <h2 style="text-align: center;">Belmond Hotel Caruso, Ravello</h2>
        <p>
          Este hotel histórico está ubicado en la pintoresca ciudad italiana de Ravello, en la costa de Amalfi. Las
          habitaciones están decoradas en estilo clásico italiano, con vistas impresionantes del Mediterráneo. El hotel
          también cuenta con una piscina de borde infinito y un restaurante con estrella Michelin.
        </p>
      </figure>
    </div>
    <div class="col-md-6 well" class="imagene">
      <figure>
        <img src="../assets/img/hotel6.jpg" alt="blog post three" />
        <h2 style="text-align: center;">La Mamounia, Marrakech</h2>
        <p>
          Este lujoso hotel de Marrakech ha sido un punto de referencia para los viajeros de élite desde 1923. Ofrece
          habitaciones elegantes y decoradas con detalles marroquíes, un spa de lujo y varios restaurantes y bares.
        </p>
      </figure>
    </div>
  </div>

  <div class="gallery-container" class="row">
    <div class="col-md-6 well" class="imagene">
      <figure>
        <img src="../assets/img/hotel7.jpg" alt="blog post three" />
        <h2 style="text-align: center;">The Peninsula Hong Kong</h2>
        <p>
          Este icónico hotel de Hong Kong ha sido un símbolo de lujo y glamour desde su apertura en 1928. Ofrece
          habitaciones elegantes y modernas, varios restaurantes, un spa de lujo y una piscina en la azotea con vistas
          impresionantes de la ciudad.
        </p>
      </figure>
    </div>
    <div class="col-md-6 well" class="imagene">
      <figure>
        <img src="../assets/img/hotel8.jpg" alt="blog post three" />
        <h2 style="text-align: center;">Grand Hyatt Tokyo</h2>
        <p>
          Este hotel de lujo está ubicado en el centro de Tokio y ofrece habitaciones elegantes y modernas, varios
          restaurantes y bares, un spa de primera clase y una piscina cubierta.
        </p>
      </figure>
    </div>
  </div>

  <div class="gallery-container" class="row" >
    <div class="col-md-6 well" class="imagene">
      <figure>
        <img src="../assets/img/hotel9.jpg" alt="blog post three" />
        <h2 style="text-align: center;">The Plaza Hotel, Nueva York</h2>
        <p>
          Este hotel de lujo de Nueva York es famoso por su elegancia clásica y su ubicación privilegiada en el centro de
          Manhattan. Ofrece habitaciones lujosas, un spa de lujo, varios restaurantes y bares y vistas impresionantes del
          Central Park.</p>
      </figure>
    </div>
    <div class="col-md-6 well" class="imagene">
      <figure>
        <img src="../assets/img/hotel10.jpg" alt="blog post three" />
        <h2 style="text-align: center;">The Oberoi Amarvilas, Agra</h2>
        <p>
          Este hotel de lujo está ubicado en la ciudad india de Agra, justo enfrente del famoso Taj Mahal. Las
          habitaciones ofrecen vistas impresionantes del monumento, mientras que el hotel cuenta con un spa de lujo,
          varios restaurantes y una piscina al aire libre.</p>
      </figure>
    </div>
  </div>
    </div>
  